<h1>You're all set up!</h1>
<p>Your Django site is up and running using Docker!</h1>

<p>Getting started</p>
<ul>
    <li><a href="https://docs.djangoproject.com/en/1.9/">Django documentation</a></li>
    <li><a href="https://www.docker.com/products/docker-toolbox">Docker toolbox</a></li>
    <li><a href="https://github.com/PabloVallejo/docker-django">View this project on GitHub</a></li>
</ul>

<p>This Django installation is using:</p>
<ul>
    <li><a href="https://www.python.org/downloads/release/python-351/">Python 3.5.1</a></li>
    <li><a href="https://docs.djangoproject.com/en/1.9/releases/1.9.6/">Django 1.9.6</a></li>
    <li><a href="http://www.postgresql.org/docs/9.5/static/release-9-5.html">Postgres 9.5.0</a></li>
    <li><a href="https://www.debian.org/releases/jessie/">Debian Jessie</a></li>
</ul>
